.Gallery{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b2cede;
    /* align-content: center; */
}

.container-gallery {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: auto;
    border: inset;
    border-radius: 50px;
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-style: italic;
    font-weight: 100;
    font-variant-ligatures: normal;
}

.container-pagination{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 25%;
}

.form{
    padding-top: 0%;
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-style: italic;
    font-weight: 100;
    font-variant-ligatures: normal;
}

