.headerMine {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #181c44;
    border-radius: 25px; 
    position: fixed
}

/* .header .form-search-bar {
    width: 25%;
} */

.headerMine .form-search-bar #input-search-bar{
    width: 300px;
}

.headerMine .container-headings{
    display: flex;
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-style: italic;
    font-weight: 100;
    font-variant-ligatures: normal;
}

.headerMine .link-heading{
    text-decoration: none;
    color: rgb(236, 142, 18);
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-style: italic;
    font-weight: 100;
    font-variant-ligatures: normal;
}

.headerMine .link-heading:hover{
    background-color: black;
    color: rgb(219, 152, 6);
}

.headerMine .container-headings .link-heading{
    padding: 0 10px;
    color: rgb(228, 147, 27);
}
