.div{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 90%;
    padding-top: 150px;
    /*justify-content: space-evenly */
}

#intro{
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#seller-info img {
    height: 12rem;
    width: 12rem;
}

.lead {
    text-align: left;
    font-size: 1rem;
    line-height: 1.7;
    font-family: "lora-regular", serif;
}